@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm một chút font chữ cho "sang" giống bản mẫu Vietnam Travel của bạn */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}